server.dir = http://127.0.0.1/mmslideserver/moviecreator
queue.dir = /opt/mmslide/moviequeue
movie.dir = /Users/hschottm/Sites/mmslideserver/moviecreator
im.path = /usr/local/ImageMagick/bin
ffmpeg.app = /usr/local/bin/ffmpeg
mail.from = helmut.schottmueller@me.com
mail.smtp.host = smtp.me.com
mail.username = helmut.schottmueller
mail.password = .haibin.